/* Container for book details */
.details {
  width: 60%;
  margin: 0 auto;
  height: auto;
}

.details h2 {
  border-bottom: 1px solid #0000008c;
}

.details-book {
  flex-direction: row;
  font-size: 12px;
}

.book-image-left img {
  width: 300px;
  height: 450px;
  border-radius: 15px;
  float: left;
}

.book-details-right {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding-left: 50px;
  padding-top: 20px;
}

.book-details-right p span:first-of-type {
  margin-bottom: 10px;
  font-style: italic;
  font-weight: bold;
}

.showMoreButton {
  color: rgb(87, 72, 72);
  border: none;
  cursor: pointer;
  font-style: italic;
}

.book-details-right details-btn {
  display: flex;
  flex-direction: row;
}

.details-btn {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
}

.details-btn button {
  background-color: #70401d;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  width: 50px;
  height: 30px;
  font-size: 10px;
  text-align: center;
  margin-left: 10px;
}

.details-btn button:hover {
  background-color: #b37244;
}

.details-addons {
  padding-top: 200px;
}

.likes-rates {
  margin: -20px;
}

.details-addons2 {
  margin-top: 10px;
  width: 750px;
}

.comment-area {
  margin-top: 20px;
}

.signIn {
  display: flex;
  align-items: center;
}

.signIn button {
  padding: 30px;
  color: rgb(51, 46, 46);
  border: none;
  cursor: pointer;
  font-style: italic;
  text-shadow: 0px 3px 8px black;
}

.signIn button:hover {
  text-shadow: 2px 2px 5px rgb(81, 52, 2);
}
