/* Details.module.css */

.details {
  padding: 20px;
  border: 1px solid #ccc;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-div {
  margin-top: 20px;
}

.details-product {
  margin-top: 20px;
}

.span-style {
  font-size: 16px;
}

.showMoreButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
}

.comments-container {
  margin-top: 20px;
  text-align: center;
}

.comments {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  text-align: left;
}

.comment {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.comment ul {
  list-style-type: none;
  padding: 0;
}

.comment li {
  margin-bottom: 10px;
}

.comment-area {
  margin-top: 20px;
}

.textarea-comments {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

/* Responsive layout */
@media (max-width: 600px) {
  .details {
    padding: 0 10px;
    flex-direction: column;
    align-items: center;
  }

  .image-div {
    flex: 1;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .details-product {
    flex: 1;
  }

  .comment-area textarea {
    font-size: 0.9em;
  }

  .comment-area button {
    flex: 0 0 100%;
  }
}
