.profile-container {
  margin: 20px;
  padding: 20px;
}

.profile-header {
  background-color: #f0f0f0;
  padding: 10px;
}

.profile-content {
  padding-bottom: 20px;
  width: 100%;
  padding: 30px;
}

.user-adds h3,
.user-comments h3 {
  color: rgb(43, 34, 8);
}

.user-adds {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  border-bottom: 1px dotted rgb(165, 71, 42);
}

.user-comments {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
