.book-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  padding: 50px;
}

.list-header {
  padding-top: 30px;
}

.list-header h2 {
  justify-content: center;
  letter-spacing: 10px;
  padding: 10px;
  border-bottom: 1px solid #0000008c;
}

.book-card {
  border: 1px solid #0000008c;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 20px;
  width: 250px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-card h3 {
  color: rgb(43, 34, 8);
  text-decoration-thickness: 15px;
  text-shadow: 2px 2px 5px rgb(236, 224, 186);
}

.book-card p {
  text-decoration-style: solid;
}

.book-card:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
}

.book-image {
  max-width: 100%;
  height: 250px;
  border-radius: 15px 15px 15px 15px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.book-details {
  margin-top: auto;
  text-align: center;
}

.details-btn {
  background-color: #70401d;
  color: white;
  padding: 15px 52px 10px 52px;
  border-radius: 0px 0px 15px 15px;
  text-align: center; font-size: 15px;
  border: none;
  cursor: pointer;
}

.details-btn:hover,
a:hover {
  background-color: #b37244;
}

.no-books {
  justify-content: center;
  letter-spacing: 10px;
  padding: 10px;
  border-bottom: 1px solid #0000008c;
}
