.bookCard-info {
  border: 1px solid #0000008c;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 20px;
  max-width: 250px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookCard-info:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
}

.bookCard-image {
  max-width: 100%;
  height: 350px;
  border-radius: 15px 15px 15px 15px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.bookCard-details {
  margin-top: auto;
  text-align: center;
}

.bookCard h3 {
  color: rgb(43, 34, 8);
  text-decoration-thickness: 15px;
  text-shadow: 2px 2px 5px rgb(236, 224, 186);
  text-align: center;
  display: block;
}

.bookCard p {
  text-decoration-style: solid;
  font-style: italic;
  padding-bottom: 20px;
}

.details-btn {
  background-color: #70401d;
  color: white;
  padding: 15px 75px 10px 75px;
  border-radius: 0px 0px 15px 15px;
  border: none;
  cursor: pointer;
}

.bookCard-info:hover,
a:hover {
  opacity: 0.9;
}
