.form {
  width: 50%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
  font-size: 40px;
  letter-spacing: 10px;
  padding: 10px;
  border-bottom: 1px solid #0000008c;
}

.edit-form {
  display: flex;
  flex-direction: column;
}

.edit-form label {
  font-style: italic;
}

.edit-form input,
.edit-form textarea {
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.genre {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.genre label {
  width: calc(20% - 10px);
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  align-items: flex-start;
}

.genre label input {
  margin-right: 5px;
}

.genre label span {
  display: inline-block;
  vertical-align: left;
  padding-right: 200px;
  padding-left: 20px;
}

.edit-form button {
  background-color: #70401d;
  color: white;
  padding: 15px 75px 10px 75px;
  border-radius: 0px 0px 15px 15px;
  border: none;
  cursor: pointer;
}

.edit-form button:hover {
  background-color: #b37244;
}

.edit-form .error {
  color: red;
  font-size: 12px;
  display: block; 
  text-align: right; 
}
