.likes {
  display: flex;
  flex-direction: column;
}

.like {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 100px;
}

.like p {
  padding-left: 20px;
}

.liked {
  color: red;
  font-size: 25px;
  text-shadow: 0 0 3px #ff0000;
}

.disliked {
  color: gray;
  font-size: 25px;
}
