.likes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.like {
  display: flex;
  flex-direction: row-reverse;
}

.like p {
  padding-left: 30px;
}

.liked {
  color: red;
  font-size: 25px;
  text-shadow: 0 0 3px #ff0000;
}

.disliked {
  color: gray;
  font-size: 25px;
}
