.register-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.container span img {
  width: 170px;
  height: 130px;
  margin: 0 0 0 95px;
}

h2 {
  text-align: center;
  font-size: 30px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px rgba(254, 182, 47, 0.819), 0 0 5px rgba(0, 0, 0, 0.1);
}

.register-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

.register-form button {
  background-color: rgb(88, 46, 7);
  width: 100%;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.register-form button:hover {
  background-color: #b37244;
}

.message {
  text-align: center;
  margin-top: 15px;
}

.message a {
  color: rgb(36, 18, 2);
  text-decoration: none;
}

.message a:hover {
  text-decoration: underline;
}

.register-form .error {
  color: red;
  font-size: 12px;
  display: block; 
  text-align: right; 
}
