.register-section {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Added maximum width for better readability */
    width: 100%;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .register-form {
    display: flex;
    flex-direction: column; /* Stack items vertically */
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #555;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px; /* Added margin to separate input fields */
  }
  
  button {
    width: 100%;
    padding: 10px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .message {
    text-align: center;
    margin-top: 15px;
  }
  
  .message a {
    color: #007bff;
    text-decoration: none;
  }
  
  .message a:hover {
    text-decoration: underline;
  }
  